dash==2.18.2
dash-bootstrap-components==1.6.0
Flask==3.0.3
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
gunicorn==23.0.0
pandas==2.2.3